/* レスポンシブの対応 */

/* PC版 */
/* 共通 */
p {
  margin-top: 0;
  margin-bottom: 0;
}

.slider-home {
  position: relative;
  overflow: hidden;
  min-height: 640px;
  max-height: 800px;
  width: 100%;
  height: 100vh;
}

.slide {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 12s infinite linear;
}

.slide:nth-child(1) {
  background-image: url(../images/technology.jpg);
  animation-delay: 0;
}
.slide:nth-child(2) {
  background-image: url(../images/technology-back.jpg);
  animation-delay: -4s;
}
.slide:nth-child(3) {
  background-image: url(../images/teamwork.jpg);
  animation-delay: -8s;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.required {
  color: red;
}

#home-logo {
  cursor: pointer;
}

#home-index {
  background-size: cover;
  background-position: 50% 50%;
  background-color: #04090f;
  background-image: url(../images/technology.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}

.main_visual {
  display: table;
  min-height: 640px;
  max-height: 800px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
}

.home-main-ttl {
  font-size: 3rem;
  color: white;
}

.home-sub-ttl {
  font-size: 2rem;
}

.main-btn-list .main-btn {
  width: 170px;
  padding: 10px 20px;
  border: 2px solid;
  background-color: white !important;
  color: black !important;
}

.main-btn-list .main-btn:focus {
  outline: none !important;
}

.main-btn-list .main-btn:hover {
  font-weight: 700;
  background-color: #b2ebf4 !important;
}

.main-btn-list .active {
  font-weight: 700;
  background-color: #b2ebf4 !important;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 8px);
  margin: 0 auto;
  height: auto;
}

.display-align-no {
  align-items: normal !important;
}

.flex-justify-between {
  justify-content: space-between;
}

.display-item-20 {
  width: calc(20% - 5px);
}

.display-item-33 {
  width: calc(33.333% - 5px);
}

.display-item-50 {
  width: calc(50% - 5px);
}

.display-item-80 {
  width: calc(80% - 5px);
}

.display-item-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.img-border {
  object-fit: contain;
  border-radius: 5px;
}

.mb-label {
  margin-bottom: 0.5rem;
}

.p-0 {
  padding: 0;
}

.p-15 {
  padding: 15px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.font-1 {
  font-size: 1rem;
}

.font-15 {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.link {
  text-decoration: none;
  width: fit-content;
  padding: 0 20px 0 20px;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 37px;
  border-radius: 14px;
  background: #3857f1;
  color: white !important;
  background-size: 9px auto;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.m-auto {
  margin: 0 auto;
}

.link:hover {
  opacity: 0.7;
}

.content-img-fill {
  object-fit: fill;
  width: 100%;
  height: 300px;
}

.img-link {
  font-weight: 700;
  color: #30373e !important;
}

.img-design {
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}

.img-design:hover > .img-text {
  opacity: 0.7;
}

.img-design img {
  max-width: 100%;
  transform: all 0.2s linear;
}

.img-design:hover img {
  transform: scale(1.05);
}

.img-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  padding: 10px 20px;
  margin-left: 0 !important;
}

.menu-item a:hover {
  color: #ffffff !important;
  background: #3857f1;
}

.menu-item:hover {
  color: #ffffff !important;
  background: #3857f1;
  cursor: pointer;
}

.menu-item:hover a > span:before {
  transform-origin: left center !important;
  transform: scale(1) translateZ(1px) !important;
}

.current-menu-item {
  color: #ffffff !important;
  background: #3857f1;
}

.current-menu-item a {
  color: #ffffff !important;
  background: #3857f1;
}

.is-sp {
  display: none !important;
}

.home-sub-img {
  font-size: 2rem;
}

.home-right-img {
  transform: perspective(40rem) rotateX(-0.0814614deg) rotateY(-6deg);
}

.home-left-img {
  transform: perspective(40rem) rotateX(-0.0814614deg) rotateY(6deg);
}

/* 会社概要 */
.cor-ul {
  padding: 0;
}

.cor-ttl {
  width: 100px;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
}

.cor-txt {
  width: calc(100% - 110px);
  padding: 20px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}

.sub-ttl {
  font-size: 1.5rem;
  font-weight: 700;
}

.cor-ul li {
  border-bottom: 1px solid;
}

.goo-link {
  text-decoration: none;
  width: fit-content;
  margin: 8px 0 5px;
  padding: 0 14px 0 27px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  border-radius: 14px;
  color: white !important;
  background: #3857f1 url(../images/map-icon.png) no-repeat left 10px center;
  background-size: 9px auto;
}

.goo-link:hover {
  opacity: 0.7;
}

.info-access {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* 経営理念 */
.ideo-img-contain {
  width: 50%;
}

/* ビジネス */

/* 採用情報 */
.sub-underline {
  text-decoration: underline;
}

.recruit-ul {
  list-style: square;
}

.recruit-ul li {
  margin-bottom: 0.5rem;
}

/* お問い合わせ */
.label-required {
  margin-right: 6px;
  padding: 0 7px;
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  color: white;
  border-radius: 4px;
  background: red;
  text-shadow: 0 0 3px rgba(139, 0, 0, 0.35);
  display: inline-block;
}

.label-free {
  margin-right: 6px;
  padding: 0 7px;
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  color: white;
  border-radius: 4px;
  background: black;
  display: inline-block;
}

.contact-style .label {
  font-size: 14px;
  margin-bottom: 1rem;
}

.contact-style .form-row {
  margin-bottom: 1rem;
}

.contact-style input[type="text"],
.contact-style input[type="email"],
.contact-style input[type="tel"] {
  width: 100%;
  line-height: 44px;
  padding: 0 16px;
  font-size: 14px;
  border: 1px solid #707070;
  border-radius: 5px;
  color: black;
}

.wpcf7-form-control-wrap textarea {
  width: 100%;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #707070;
  border-radius: 5px;
  color: black;
}

.contact-style input[type="text"]:focus {
  border: 2px solid;
  outline: 0 !important;
}

.contact-style input[type="email"]:focus {
  border: 2px solid;
  outline: 0 !important;
}

.contact-style input[type="textarea"]:focus {
  border: 2px solid;
  outline: 0 !important;
}

.contact-style input[type="tel"]:focus {
  border: 2px solid;
  outline: 0 !important;
}

.contact-btn {
  border-radius: 5px !important;
  background-color: #3857f1 !important;
  color: white !important;
}

.contact-btn:hover {
  opacity: 0.7;
}

.contact-btn:focus {
  outline: none !important;
}

.first {
  margin: 0;
}

.wpcf7-spinner {
  display: none;
}

.wpcf7-form-control-wrap {
  > .wpcf7-not-valid-tip {
    display: none;
    margin-top: 10px;
  }

  &.is-show {
    > .wpcf7-not-valid-tip {
      display: block;
    }
  }
}

/* タブレット版 */
@media screen and (max-width: 782px) {
  .test1 {
    color: yellow;
  }

  .test2 {
    color: green;
  }
}

/* スマホ版 */
@media screen and (max-width: 600px) {
  .is-sp {
    display: block !important;
  }

  .ideo-img-contain {
    width: 100%;
  }

  .contact-style .label {
    margin-bottom: 0.5rem;
  }

  .contact-style .form-row {
    margin-bottom: 0.5rem;
  }

  #primary {
    margin-bottom: 25px;
  }

  .display-item-33 {
    width: 100%;
  }

  .display-item-50 {
    width: 100%;
  }

  .main_visual {
    max-height: 640px;
  }

  .home-sub-img {
    font-size: 1.8rem;
  }

  .sp-align {
    text-align: center;
  }
}
